@font-face {
    font-family: 'aaarghnormal';
    src: url('fonts/Aaargh-webfont.eot');
    src: url('fonts/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aaargh-webfont.woff') format('woff'),
         url('fonts/Aaargh-webfont.ttf') format('truetype'),
         url('fonts/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

.super_container
{
	display: flex;
	flex-direction: row;
}

.container
{
	padding: 0px;
	width: 35%;
	display: flex; /* on active la flexbox*/
	flex-direction: column;/* on définit la direction*/
	justify-content: flex-start; /* positionnement des colonnes*/
}

.element, .sous-titre
{
	height: auto;
	padding-left: 10px;
	text-align: center;
}

p
{
   line-height: 140%;
}

img
{
    width: 42%;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 5px;
    margin-left: -7px;
}

.sous-titre
{
	background-color: #d2ac07;
	font-family: 'aaarghnormal', arial, serif;
	text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
	color:  #1d4851;
    padding: 10px;
	text-transform: uppercase;
}

.num1, .num2, .num3, .num5, .num7
{
    background-color:  #285F67;
    font-family: 'aaarghnormal', arial, serif;
    font-size: 0.9em;
    text-align: left;
    color: white;
    padding: 10px;
    margin: 0;
}

.flotte {
    float: center;
    margin-left: 30px;
    margin-top: 30px;
    width: 80%;
}

html 
{
    background-color: #f6ecda;
}

body
{
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

div{
    min-height: 7vh;
}

div#bigbox
{
    min-height: 100%;
    width: 800px;
    padding: 0 8px;
    margin: 0 auto;
    position: relative;
    background-color: #f6ecda;  
}

div#header 
{
    height: 100px;
    position: relative;
}

div#header h1 
{
    margin-left: 20px;
    position: absolute;
    bottom: 10px;
    left: 2px;
    font: 2.4em 'aaarghnormal', arial, serif;
    color: #1d4851;
    text-transform: uppercase;
    font-weight: lighter;
}


div#content
{
    float: left;
    margin-left: 20px;
}

div#content h2 
{
    margin: 1px;
    padding-left: 0px;
    padding-top: 0px;
    color: #d2ac07;
    font: 1.8em 'aaarghnormal', arial, serif;
}

div.formation .experience .formation, h3 
{
    color: black;
    text-transform: uppercase;
    font: 1.1em 'aaarghnormal', arial, serif;
    padding-top: 80px;
    padding: 0.3em 0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #1d4851;
}

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    font: 0.9em 'aaarghnormal', arial, serif;
}

/*responsive pour les blocs */

@media screen and (max-width: 820px){
    
    /* passer body (et tous les éléments de largeur fixe) en largeur automatique */

    .super_container
    {
        flex-direction: column;
    }

    /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

    .container, .element, .right  {
        width: 100%;
    }

    .element
    {
        padding: 0;
    }

    .container img
    {
        width: 25%;
        padding: 0;
    }

    .sous-titre {
        width: 100%;
    }

    .num5, .num7
    {
    padding: 10px;
    }
}


